﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decoder/Encoder</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar-collapse">
        @*<ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Decoder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Encoder</a>
            </li>
        </ul>*@
        <ul class="nav nav-tabs justify-content-center">
            @if (ViewContext.RouteData.Values["Action"].ToString() == "Decoder")
            {
                <li class="nav-item">@Html.ActionLink("Дешифратор", "Decoder", "Home", new { @class = "nav-link active" })</li>
                <li class="nav-item">@Html.ActionLink("Шифратор", "Encoder", "Home", new { @class = "nav-link" })</li>
            }
            else
            {
                <li class="nav-item">@Html.ActionLink("Дешифратор", "Decoder", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Шифратор", "Encoder", "Home", new { @class = "nav-link active" })</li>
            }


        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
