﻿@model lab3.Models.TextModel
@{
    ViewBag.Title = "Encoder";
}

@*<h2>Encoder</h2>
<div>
    <h3>Выберите файл для загрузки</h3>
    @using (Html.BeginForm("UploadEncoder", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" /><br>
        <input type="submit" value="Загрузить" />
    }

    @using (Html.BeginForm("Encoder", "Home"))
    {
        @Html.LabelFor(m => m.OriginalContent)
        @Html.TextAreaFor(m => m.OriginalContent, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OriginalContent)

        @Html.LabelFor(m => m.DecodedContent)
        @Html.TextAreaFor(m => m.DecodedContent, new { @class = "form-control" })

        <div class="editor-label">
            @Html.LabelFor(m => m.Key)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Key)
            @Html.ValidationMessageFor(m => m.Key)
        </div>
        <input type="submit" value="Зашифровать" />
    }

</div>*@
<div class="row mb-2">
    <div class="col-sm">

        @using (Html.BeginForm("UploadEncoder", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" accept=".txt, .docx" name="upload" class="btn" /><br>
            <div class="container">
                <input type="submit" value="Загрузить" class="btn btn-secondary" />
            </div>

        }
    </div>
    <div class="col-sm text-right">
        @using (Html.BeginForm("Save", "Home"))
        {
        <div class="container mt-2 mb-2">
            <input type="hidden" value="encoder" name="code" />
            <input type="submit" class="btn btn-secondary btn-sm" value="Сохранить (txt)" />
        </div>
        }
        @using (Html.BeginForm("SaveDocx", "Home"))
        {
        <div class="container">
            <input type="hidden" value="encoder" name="code" />
            <input type="submit" class="btn btn-secondary btn-sm" value="Сохранить (docx)" />
        </div>
        }
    </div>
</div>
@using (Html.BeginForm("Encoder", "Home"))
{
    <div class="row mb-2">
        <div class="col-sm-6">
            <div class="container" style="width: 100%">
                @Html.TextAreaFor(m => m.OriginalContent, new { @class = "form-control text-area", @placeholder = "Введите исходный текст или загрузите из файла", @style = "min-width: 100%; ; height: 200px" })
                @Html.ValidationMessageFor(m => m.OriginalContent)
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container" style="width: 100%; height: 200px">
                @Html.TextAreaFor(m => m.DecodedContent, new { @class = "form-control text - area", @placeholder = "Полученный результат", @style = "min-width: 100%; height: 200px" })

            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4">
            <div class="container">
                @Html.TextBoxFor(m => m.Key, new { @class = " form-control", @placeholder = "Введите ключ" })
                @Html.ValidationMessageFor(m => m.Key)
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="container">
                <input type="submit" class="btn btn-primary" value="Зашифровать" />
            </div>
        </div>       
        <div class="col-sm-4 text-right">
            <div class="container">
                @*@Html.ActionLink("Save Data", "Save", new { @class = "btn btn-secondary", example = "Text" })*@
            </div>
        </div>
    </div>
}
